---
layout: page
title: Jasa
---

<section class="list">
    <!-- {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %} -->
    <div class="item">
        <h2 class="title">Paket Jasa Install VPS</h2>
    </div>

    <div class="item">
        <aside>Biaya: Rp500.000 </aside>
        <h3 class="title">LAMP Stack</h3>
        <li>Apache</li>
        <li>MySQL/MariaDB/PostgreSQL</li>
        <li>PHP</li>
    </div>

    <div class="item">
        <aside>Biaya: Rp500.000 </aside>
        <h3 class="title">LEMP Stack (Populer)</h3>
        <li>Nginx</li>
        <li>MySQL/MariaDB/PostgreSQL</li>
        <li>PHP</li>
    </div>

    <div class="item">
        <aside>Rp1.000.000 </aside>
        <h3 class="title">Node.js Apps</h3>
        <li>Node.js</li>
        <li>PM2</li>
        <li>MySQL/MariaDB/PostgreSQL</li>
    </div>

    <div class="item">
        <aside>Rp1.000.000 </aside>
        <h3 class="title">Migrasi Website/Server</h3>
        <li>Install Server</li>
        <li>Backup Data</li>
        <li>Transfer Data</li>
        <li>Konfigurasi</li>
        <li>Restore Data</li>
    </div>

    <div class="item">
        <aside>Rp500.000 </aside>
        <h3 class="title">Konfigurasi Hosting Control Panel</h3>
        <li>Clone App</li>
        <li>Create Database</li>
        <li>Setting Domain</li>
        <li>Konfigurasi App</li>
        <li>Create Account</li>
    </div>
</section>
