---
layout: page
title: Projects
---

<meta http-equiv="refresh" content="delay_time; URL=https://www.linkedin.com/in/jobsactivity/details/experience" />

<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}

    <div class="item">
        <a class="url" href="https://karejo.sumutprov.go.id">
            <aside>2021</aside>
            <h3 class="title">Infrastruktur Aplikasi Karejo - BKD PROVSU</h3>
        </a>
    </div>

    <div class="item">
        <a class="url" href="https://simpegbkd.sumutprov.go.id">
            <aside>2019</aside>
            <h3 class="title">Infrastruktur Aplikasi Sistem Pelayanan Kepegawaian Tanpa Kertas (PAKET KERAS) - BKD PROVSU</h3>
        </a>
    </div>

    <div class="item">
        <a class="url" href="https://paspro.co.id">
            <aside>2021</aside>
            <h3 class="title">Infrastruktur Aplikasi Pasar Property</h3>
        </a>
    </div>

    <div class="item">
        <a class="url" href="https://play.google.com/store/apps/details?id=com.absensi.pasid.saber">
            <aside>2021</aside>
            <h3 class="title">Infrastruktur Backend Mobile Saiber Padangsidimpuan</h3>
        </a>
    </div>

    <div class="item">
        <a class="url" href="https://play.google.com/store/apps/details?id=com.karejo_mobile">
            <aside>2021</aside>
            <h3 class="title">Infrastruktur Backend Mobile Karejo BKD PROVSU</h3>
        </a>
    </div>
</section> -->
